@import "../../scss/colors";

.table-of-contents {
    h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgba($-dark, 0.85);
    }

    nav {
        li {
            margin-bottom: 0.75rem;
        }

        ul {
            padding-top: 0.75rem;
        }

        & > ul {
            list-style: none;
            padding-left: 0;

            & > li > ul {
                padding-left: 2rem;

                & > li > ul {
                    padding-left: 2rem;
                }
            }
        }

        a:not(:hover) {
            color: $-dark;
            border-bottom: none;
        }
    }
}
